<h1><span>{{localize 'STARFORGED.Assets'}}</span></h1>
<div class="flexcol item-list save-scroll" id="asset-list">
    <ol>
        {{#each assets}}
        <li class="item-row {{expandedClass @root.sheet id}}" data-id="{{id}}">
            <div class="asset-entry expandable">
                <div class="flexrow">
                    <span><i class="fas expansion-icon"></i> {{name}}</span>
                    <div class="block clickable" style="flex-grow: 0;">
                        <i class="edit-item fas fa-edit"></i>
                    </div>
                </div>
            </div>

            <div class="asset-summary hidden">
                {{#each data.data.fields}}
                <p><strong>{{name}}:</strong> {{value}}</p>
                {{/each}}

                {{#if data.data.description}}
                <p>{{{enrichHtml data.data.description}}}</p>
                {{/if}}

                <ul>
                    {{#each data.data.abilities}}
                    {{#if enabled}}
                    <li>{{{enrichHtml description}}}</li>
                    {{/if}}
                    {{/each}}
                </ul>

                {{#if data.data.track.enabled}}
                <div class="flexrow" style="line-height: 30px;">
                    {{#rangeEach from=0 to=data.data.track.max current=data.data.track.current}}
                    <div class="clickable block track-target progress
                            {{#if isCurrent}} selected {{/if}}" data-value={{value}}>
                        {{value}}
                    </div>
                    {{/rangeEach}}
                    <div class="clickable block roll-asset-track" style="text-align: center; line-height: 40px;">
                        <i class="fas fa-dice-d6"></i>
                    </div>
                </div>
                {{/if}}

            </div>
        </li>
        {{/each}}
    </ol>
</div>