<div class="flexcol item-row" data-id="{{_id}}">
    <div class="title">
        <h2>{{name}} ({{data.data.rank}})</h2>
        <div class="block clickable edit">
            <i class="edit-item fas fa-edit"></i>
        </div>
    </div>
    <div class="flexrow">
        <div class="clickable block clearProgress" title="{{localize 'STARFORGED.ClearProgress'}}">
            <i class="fas fa-times-circle"></i>
        </div>
        {{#each (progressCharacters data.data.current)}}
        <div class="progress">{{{this}}}</div>
        {{/each}}
        <div class="clickable block markProgress" title="{{localize 'STARFORGED.MarkProgress'}}">
            <i class="fas fa-chevron-circle-right"></i>
        </div>
        <div class="clickable block fulfillProgress" title="{{localize 'STARFORGED.FulfillVow'}}">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
</div>