<div class="flexcol item-row {{expandedClass @root.sheet _id}}" data-id="{{_id}}">
    <div class="title">
        <h2 class="expandable"><i class="fas expansion-icon"></i> {{name}} ({{data.data.rank}})</h2>
        <div class="block clickable edit">
            <i class="edit-item fas fa-edit"></i>
        </div>
    </div>    

    <div class="roles hidden">  
        {{#if data.data.role1}}          
        <div class="role"><strong>{{localize 'STARFORGED.Role'}}</strong> {{data.data.role1}}</div> 
        {{/if}}
        {{#if data.data.role2}} 
        <div class="role"><strong>{{localize 'STARFORGED.Role'}}</strong> {{data.data.role2}}</div> 
        {{/if}}
    </div>

    {{#if data.data.description}}  
    <div class="description hidden">                   
        <p>{{{enrichHtml data.data.description}}}</p>          
    </div>
    {{/if}}

    <div class="flexrow">
        <div class="clickable block clearProgress" title="{{localize 'STARFORGED.ClearProgress'}}">
            <i class="fas fa-stop-circle"></i>
        </div>
        <div class="progress-bar">
            {{#each (progressCharacters data.data.current)}}
            <div class="progress">{{{this}}}</div>
            {{/each}}
        </div>
        <div class="clickable block markProgress" title="{{localize 'STARFORGED.MarkProgress'}}">
            <i class="fas fa-chevron-circle-right"></i>
        </div>
        <div class="clickable block fulfillProgress" title="{{localize 'STARFORGED.FulfillVow'}}">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
</div>