{{log this}}

{{#*inline "stack"}}
{{#rangeEach from=from to=to current=(lookup data stat)}}
<div class="
        clickable block stack-row
        {{stat}}
        {{#if isCurrent}} selected {{/if}}
    " data-resource="{{stat}}" data-value="{{value}}">
    {{valueStr}}
</div>
{{/rangeEach}}
{{/inline}}

{{#*inline "progress"}}
<div class="flexcol item-row" data-id="{{_id}}">
    <div class="flexrow">
        <h2>{{name}} ({{data.data.rank}})</h2>
        <div class="block clickable" style="flex-grow: 0;">
            <i class="edit-item fas fa-edit"></i>
        </div>
    </div>
    <div class="flexrow">
        {{#each (progressCharacters data.data.current)}}
        <div class="progress">{{{this}}}</div>
        {{/each}}
        <div class="clickable block markProgress" title="{{localize 'STARFORGED.MarkProgress'}}">
            <i class="fas fa-play"></i>
        </div>
        <div class="clickable block fulfillProgress" title="{{localize 'STARFORGED.FulfillVow'}}">
            <i class="fas fa-check"></i>
        </div>
    </div>
</div>
{{/inline}}

{{#*inline "legacy"}}
<div class="flexcol item-row" data-id="{{name}}">
    <div class="flexrow">
        <h2>{{name}}</h2>
    </div>
    <div class="flexrow">
        <div class="clickable block eraseLegacy" title="{{localize 'STARFORGED.MarkProgress'}}">
            <i class="fas fa-chevron-circle-left"></i>
        </div>
        {{#each (progressCharacters progress)}}
        <div class="progress">{{{this}}}</div>
        {{/each}}
        <div class="clickable block markLegacy" title="{{localize 'STARFORGED.MarkProgress'}}">
            <i class="fas fa-chevron-circle-right"></i>
        </div>
    </div>
</div>
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
    <nav class="tabs" data-group="primary-tabs">
        <a class="item" data-tab="actions">Actions</a>
        <a class="item" data-tab="background">Background</a>
    </nav>

    <section class="sheet-body">
        <div class="tab flexrow" data-tab="actions" data-group="primary-tabs">
            <div class="flexcol margin-left">
                <div class="flexcol stack momentum">
                    <h4 class="momentum">{{localize 'STARFORGED.Momentum'}}</h4>
                    {{>stack stat="momentum" from=10 to=-6}}
                    <hr />
                    <div class="max">{{localize 'STARFORGED.Max'}}: {{data.momentumMax}}</div>
                    <div class="clickable block stack-row" id="burn">
                        <span class="burn">{{localize 'STARFORGED.Burn'}}</span>
                        <span class="reset">{{localize 'STARFORGED.Reset'}}: {{data.momentumReset}}</span>
                    </div>
                </div>
            </div>
            <div class="flexcol">
                <div class="stats">
                    {{#*inline "stat"}}
                    <div class="stat clickable block" data-stat="{{stat}}">
                        <h4>{{localize (concat 'STARFORGED.' (capitalize stat))}}</h4>
                        <h3>{{lookup data stat}}</h3>
                    </div>
                    {{/inline}}

                    {{#*inline "statEdit"}}
                    <div class="stat block">
                        <h4>{{localize (concat 'STARFORGED.' (capitalize stat))}}</h4>
                        <input name="data.{{stat}}" value="{{lookup data stat}}" />
                    </div>
                    {{/inline}}

                    {{#if actor.flags.foundry-starforged.editStats}}
                    {{>statEdit stat="edge"}}
                    {{>statEdit stat="heart"}}
                    {{>statEdit stat="iron"}}
                    {{>statEdit stat="shadow"}}
                    {{>statEdit stat="wits"}}
                    {{else}}
                    {{>stat stat="edge"}}
                    {{>stat stat="heart"}}
                    {{>stat stat="iron"}}
                    {{>stat stat="shadow"}}
                    {{>stat stat="wits"}}
                    {{/if}}

                    <div class="clickable block flexcol edit" id="edit-stats">
                        <p class="flexrow" style="align-items: center; padding-left: 4px;">
                            <i class="fas fa-edit"></i>
                        </p>
                    </div>
                </div>

                <div class="flexrow">
                    <div class="flexcol">
                        <section class="sheet-area moves flexcol">
                            <h1><span>{{localize 'STARFORGED.Moves'}}</span></h1>
                            <div class="item-list">
                                <ol>
                                    {{#each builtInMoves}}
                                    {{#if separator}}
                                    <h2>{{title}}</h2>
                                    {{else}}
                                    <li class="item-row" data-name="{{title}}">
                                        <div class="built-in-move-entry">{{title}}</div>
                                        <div class="move-summary" style="display: none;">{{{enrichHtml description}}}</div>
                                    </li>
                                    {{/if}}
                                    {{/each}}
                                </ol>                        
                            </div>
                        </section>

                        <section class="sheet-area impacts" style="flex-grow: 0;">
                            <h1><span>{{localize 'STARFORGED.Impacts'}}</span></h1>

                            {{#*inline "impact"}}
                            <label class="checkbox">
                                <input type="checkbox" name="data.impact.{{name}}" {{checked (lookup data.impact name)}}>
                                {{capitalize name}}
                            </label>
                            {{/inline}}

                            <div class="flexrow">
                                <div class="flexcol">
                                    <h3>{{localize 'STARFORGED.Misfortunes'}}</h3>
                                    {{>impact name="wounded"}}                               
                                    {{>impact name="shaken"}}
                                    {{>impact name="unprepared"}}
                                </div>
                                <div class="flexcol">
                                    <h3>{{localize 'STARFORGED.LastingEffects'}}</h3>
                                    {{>impact name="permanently harmed"}}
                                    {{>impact name="traumatized"}}
                                </div>
                                <div class="flexcol">                
                                    <h3>{{localize 'STARFORGED.Burdens'}}</h3>
                                    {{>impact name="doomed"}}
                                    {{>impact name="tormented"}}
                                    {{>impact name="indebted"}}
                                </div>
                                <div class="flexcol">                
                                    <h3>{{localize 'STARFORGED.CurrentVehicle'}}</h3>
                                    {{>impact name="battered"}}
                                    {{>impact name="cursed"}}
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="flexcol">
                        <section class="sheet-area assets flexcol">
                            <h1><span>{{localize 'STARFORGED.Assets'}}</span></h1>
                            <div class="flexcol item-list">
                                <ol>
                                    {{#each assets}}
                                    <li class="item-row" data-id="{{_id}}">
                                        <div class="asset-entry">
                                            <div class="flexrow">
                                                <strong>{{name}}</strong>
                                                <div class="block clickable" style="flex-grow: 0;">
                                                    <i class="edit-item fas fa-edit"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="asset-summary" style="display:
                                        {{#if (lookup actor.data.flags.foundry-starforged (concat 'expanded-' _id))}}
                                        block
                                        {{else}}
                                        none
                                        {{/if}}
                                        ;">
                                            {{#each data.data.fields}}
                                            <p><strong>{{name}}:</strong> {{value}}</p>
                                            {{/each}}

                                            {{#if data.data.description}}
                                            <p>{{{enrichHtml data.data.description}}}</p>
                                            {{/if}}

                                            <ul>
                                                {{#each data.data.abilities}}
                                                {{#if enabled}}
                                                <li>{{{enrichHtml description}}}</li>
                                                {{/if}}
                                                {{/each}}
                                            </ul>

                                            {{#if data.data.track.enabled}}
                                            <div class="flexrow" style="line-height: 30px;">
                                                {{#rangeEach from=0 to=data.data.track.max current=data.data.track.current}}
                                                <div class="clickable block track-target progress
                                                        {{#if isCurrent}} selected {{/if}}" data-value={{value}}>
                                                    {{value}}
                                                </div>
                                                {{/rangeEach}}
                                                <div class="clickable block roll-asset-track" style="text-align: center; line-height: 40px;">
                                                    <i class="fas fa-dice-d6"></i>
                                                </div>
                                            </div>
                                            {{/if}}

                                        </div>
                                    </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </section>
                        <section class="sheet-area items">
                            <h1><span>{{localize 'STARFORGED.PersonalItems'}}</span></h1>
                            <textarea name="data.personalitems">{{actor.data.personalitems}}</textarea>                          
                        </section>

                    </div>
                </div>
            </div>
            <div class="flexcol margin-right">
                <div class="flexcol stack health">
                    <h4 class="health clickable text" data-stat="health">{{localize 'STARFORGED.Health'}}</h4>
                    {{>stack stat="health" from=5 to=0}}
                </div>
                <div class="flexcol stack spirit">
                    <h4 class="spirit clickable text" data-stat="spirit">{{localize 'STARFORGED.Spirit'}}</h4>
                    {{>stack stat="spirit" from=5 to=0}}
                </div>
                <div class="flexcol stack supply">
                    <h4 class="supply clickable text" data-stat="supply">{{localize 'STARFORGED.Supply'}}</h4>
                    {{>stack stat="supply" from=5 to=0}}
                </div>


                <!--<h1 style="flex: 0 0 auto">{{localize 'STARFORGED.Oracles'}}</h1>
                <div class="flexcol item-list">

                    {{#*inline "oracle"}}
                    <li class="item">
                        <h3 class="clickable text move" data-table="Oracle: {{name}}">{{name}}</h3>
                    </li>
                    {{/inline}}

                    <ol>
                        <h2>{{localize 'STARFORGED.Plot'}}</h2>
                        {{> oracle name="Action"}}
                        {{> oracle name="Theme"}}
                        {{> oracle name="Combat Action"}}
                        {{> oracle name="Settlement Trouble"}}
                        {{> oracle name="Major Plot Twist"}}
                        {{> oracle name="Mystic Backlash"}}
                        {{> oracle name="Challenge Rank"}}
                        <h2>{{localize 'STARFORGED.Location'}}</h2>
                        {{> oracle name="Region"}}
                        {{> oracle name="Location"}}
                        {{> oracle name="Coastal Waters Location"}}
                        {{> oracle name="Location Descriptor"}}
                        {{> oracle name="Settlement Name"}}
                        {{> oracle name="Settlement Name (Landscape Feature)"}}
                        {{> oracle name="Settlement Name (Manmade Edifice)"}}
                        {{> oracle name="Settlement Name (Creature)"}}
                        {{> oracle name="Settlement Name (Historical Event)"}}
                        {{> oracle name="Settlement Name (Old Language)"}}
                        {{> oracle name="Settlement Name (Season or Environmental Aspect)"}}
                        {{> oracle name="Settlement Name (Something Else)"}}
                        {{> oracle name="Quick Settlement Name (Prefix)"}}
                        {{> oracle name="Quick Settlement Name (Suffix)"}}
                        <h2>{{localize 'STARFORGED.Character'}}</h2>
                        {{> oracle name="Character Role"}}
                        {{> oracle name="Character Goal"}}
                        {{> oracle name="Character Descriptor"}}
                        {{> oracle name="Character Disposition"}}
                        <h2>{{localize 'STARFORGED.Names'}}</h2>
                        {{> oracle name="Ironlander Names"}}
                        {{> oracle name="Elf Names"}}
                        {{> oracle name="Giant Names"}}
                        {{> oracle name="Varou Names"}}
                        {{> oracle name="Troll Names"}}
                        <h2>{{localize 'STARFORGED.Moves'}}</h2>
                        {{> oracle name="Choice (Almost Certain)"}}
                        {{> oracle name="Choice (Likely)"}}
                        {{> oracle name="Choice (50/50)"}}
                        {{> oracle name="Choice (Unlikely)"}}
                        {{> oracle name="Choice (Small Chance)"}}
                    </ol>
                </div>-->
            </div>
        </div>
        <div class="tab flexcol" data-tab="background" data-group="primary-tabs">
            <section class="sheet-area flexrow profile">
                <div class="flexcol">
                    <div class="flexrow">
                        <label class="details" for="name">{{localize 'STARFORGED.Name'}}</label>
                        <input name="name" type="text" value="{{actor.name}}" />
                    </div>
                    <div class="flexrow">
                        <label class="details" for="data.pronouns">{{localize 'STARFORGED.Pronouns'}}</label>
                        <input name="data.pronouns" type="text" value="{{actor.data.pronouns}}" />    
                    </div>
                    <div class="flexrow">
                        <label class="details" for="data.callsign">{{localize 'STARFORGED.Callsign'}}</label>
                        <input name="data.callsign" type="text" value="{{actor.data.callsign}}" />    
                    </div>
                </div>
                <div class="flexcol">
                    <label class="characteristics" for="data.characteristics">{{localize 'STARFORGED.Characteristics'}}</label>
                    <textarea name="data.characteristics">{{actor.data.characteristics}}</textarea>   
                </div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
                <!-- <div class="flexrow xp">
                    <h4 style="flex-grow: 0; margin: 5px;">{{localize 'STARFORGED.XP'}}</h4>
                    <div class="flexrow">
                        {{#rangeEach from=1 to=9 current=data.xp}}
                        <div class="
                            clickable block xp
                            {{#if lteCurrent}} selected {{/if}}
                        " data-resource="xp" data-value="{{value}}"></div>
                        {{/rangeEach}}
                        <div class="clickable block xp clear" data-resource="xp" data-value="0">×</div>
                    </div>
                </div>-->
            </section>

            <!--<section class="sheet-area" style="flex-grow: 0;">
                <h1><span>{{localize 'STARFORGED.Bonds'}}</span></h1>
                <div class="flexrow">
                    {{#each (progressCharacters bonds.count)}}
                    <div class="progress">{{{this}}}</div>
                    {{/each}}
                    <div class="block clickable" style="flex-grow: 0; padding: 5px; margin: 2px;">
                        <i class="edit-bonds fas fa-edit" data-id="{{bonds._id}}"></i>
                    </div>
                </div>
            </section>-->

            <div class="flexrow">
                <div class="flexcol">
                    <section class="sheet-area legacy">
                        <h1><span>{{localize 'STARFORGED.Legacy'}}</span></h1>
                        {{>legacy name="quests" progress=data.legacy.quests}}
                        {{>legacy name="bonds" progress=data.legacy.bonds}}
                        {{>legacy name="discoveries" progress=data.legacy.discoveries}}
                    </section>

                    <section class="sheet-area progresses">
                        <h1><span>{{localize 'STARFORGED.Vows'}}</span></h1>
                        {{#each vows}}
                        {{>progress}}
                        {{/each}}
                        <div class="block clickable add-item" data-type="vow">
                            <i class="fas fa-plus"></i>
                        </div>
                    </section>
                </div>

                <section class="sheet-area progresses">
                    <h1><span>{{localize 'STARFORGED.Bonds'}}</span></h1>
                    {{#each progresses}}
                    {{>progress}}
                    {{/each}}
                    <div class="block clickable add-item" data-type="progress">
                        <i class="fas fa-plus"></i>
                    </div>
                </section>
            </div>
        </div>
    </section>
</form>