<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
  </header>

  <section class="flexrow nogrow sheet-area">
    <label class="left-label" for="data.rank">{{localize 'STARFORGED.Rank'}}:</label>
    <select id="data.rank" name="data.rank">
      {{selectOptions ranks selected=data.rank localize=true}}
    </select>
  </section>

  <section class="flexrow nogrow sheet-area">
    <label class="left-label" for="data.role1">{{localize 'STARFORGED.Role'}}:</label>
    <input name="data.role1" type="text" value="{{item.data.role1}}" />
  </section>

  <section class="flexrow nogrow sheet-area">
    <label class="left-label" for="data.role2">{{localize 'STARFORGED.Role'}}:</label>
    <input name="data.role2" type="text" value="{{item.data.role2}}" />
  </section>

  <div class="flexrow nogrow progresses sheet-area">
    <div class="clickable block clearProgress" title="{{localize 'STARFORGED.ClearProgress'}}">
      <i class="fas fa-times-circle"></i>
    </div>
    {{#each (progressCharacters data.current)}}
    <div class="progress block">{{{this}}}</div>
    {{/each}}
    <div class="clickable block markProgress" title="{{localize 'STARFORGED.MarkProgress'}}">
      <i class="fas fa-chevron-circle-right"></i>
    </div>
    <div class="clickable block fulfillProgress" title="{{localize 'STARFORGED.FulfillVow'}}">
      <i class="fas fa-check-circle"></i>
    </div>
  </div>

  <section class="flexrow sheet-area">
    <label class="top-label" for="data.description">{{localize 'STARFORGED.Description'}}:</label>
    <textarea name="data.description">{{item.data.description}}</textarea>
  </section>

  <div class="flexrow nogrow sheet-area">
    <button class="delete"><i class="fas fa-trash"></i> Delete</button>
  </div>

</form>